<ion-header>

  <ion-navbar>
    <ion-title>{{ 'CREATE_ATTACHMENT_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <p> Take a picture or select from your gallery</p>
    <img src="../../assets/img/attachment_placeholder.png">
    <button ion-button color="primary" (click)="openGallery()"></button> <ion-icon name="images"></ion-icon>
    <button ion-button color="primary" (click)="takePicture()"></button> <ion-icon name="camera"></ion-icon>
    <ion-list *ngIf="images.length > 0">
        <ion-item *ngFor="let image of images">
            <img src="{{image}}">
        </ion-item>
    </ion-list>

</ion-content>
