.logo {
  align-items: center;
  background-image: url('../assets/img/alligator_head.png');
  background-size: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 40%;
  width: 70%;
}