
.logo-bg {
  align-items: center;
  background-image: url('../assets/img/alligator_head.png');
  background-size: cover;
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 56%;
  max-width: 100%;
}

