<button ion-item color="primary" (click)="toggleSection(waiverViewModel.guest)" detail-none [ngClass]="{'section-active': waiverViewModel.guest.open, 'section': !waiverViewModel.guest.open}">
    <ion-icon item-right name="arrow-dropup" *ngIf="waiverViewModel.guest.open"></ion-icon>
    <ion-icon item-right name="arrow-dropdown" *ngIf="!waiverViewModel.guest.open"></ion-icon>
    Guest
</button>
<ion-card *ngIf="waiverViewModel.guest.open">
    <ion-list no-lines>
        <ion-item>
            Name: {{ waiverViewModel.guest.name }}
        </ion-item>
        <ion-item>
            Last Name: {{waiverViewModel.guest.lastname}}
        </ion-item>
        <ion-item>
            Email: {{waiverViewModel.guest.email}}
        </ion-item>
        <ion-item>
            TRN: {{waiverViewModel.guest.trn}}
        </ion-item>
        <ion-item>
            Address: {{waiverViewModel.guest.address}}
        </ion-item>
        <ion-item>
            City: {{waiverViewModel.guest.city}}
        </ion-item>
        <ion-item>
            Country: {{waiverViewModel.guest.country}}
        </ion-item>
        <ion-item>
            Phone: {{waiverViewModel.guest.phone}}
        </ion-item>
        <ion-item>
            Occupation: {{waiverViewModel.guest.occupation}}
        </ion-item>
        <ion-item>
            Date: {{currentDate | date: 'dd/mm/yyyy'}}
        </ion-item>
    </ion-list>
</ion-card>

<!-- Attachment Accordion -->
<button ion-item color="primary" (click)="toggleSection(waiverViewModel.attachments)" detail-none [ngClass]="{'section-active': waiverViewModel.attachments.open, 'section': !waiverViewModel.attachments.open}">
    <ion-icon item-right name="arrow-dropup" *ngIf="waiverViewModel.attachments.open"></ion-icon>
    <ion-icon item-right name="arrow-dropdown" *ngIf="!waiverViewModel.attachments.open"></ion-icon>
    Attachments
</button>
<ion-card *ngIf="waiverViewModel.attachments.open">
    <ion-list *ngFor="let attachment of waiverViewModel.attachments.attachments">
        <ion-item>
            <img src="{{attachment}}" (click)="showPicture(attachment)">
        </ion-item>
    </ion-list>
</ion-card>

<!-- Signature Accordion -->
<button ion-item color="primary" (click)="toggleSection(waiverViewModel.signature)" detail-none [ngClass]="{'section-active': waiverViewModel.signature.open, 'section': !waiverViewModel.signature.open}">
    <ion-icon item-right name="arrow-dropup" *ngIf="waiverViewModel.signature.open"></ion-icon>
    <ion-icon item-right name="arrow-dropdown" *ngIf="!waiverViewModel.signature.open"></ion-icon>
    Signature
</button>
<ion-card *ngIf="waiverViewModel.signature.open">
    <img src="{{waiverViewModel.signature.signature}}">
</ion-card>

<!-- Witness Accordion -->
<button ion-item color="primary" (click)="toggleSection(waiverViewModel.witness)" detail-none [ngClass]="{'section-active': waiverViewModel.witness.open, 'section': !waiverViewModel.witness.open}">
    <ion-icon item-right name="arrow-dropup" *ngIf="waiverViewModel.witness.open"></ion-icon>
    <ion-icon item-right name="arrow-dropdown" *ngIf="!waiverViewModel.witness.open"></ion-icon>
    Witness
</button>
<ion-card *ngIf="waiverViewModel.witness.open">
    <ion-list no-lines>
        <ion-item>
            Name: {{ waiverViewModel.witness.name }}
        </ion-item>
        <ion-item>
            Last Name: {{waiverViewModel.witness.lastname}}
        </ion-item>
        <ion-item>
            Email: {{waiverViewModel.witness.email}}
        </ion-item>
        <ion-item>
            TRN: {{waiverViewModel.witness.trn}}
        </ion-item>
        <ion-item>
            Address: {{waiverViewModel.witness.address}}
        </ion-item>
        <ion-item>
            City: {{waiverViewModel.witness.city}}
        </ion-item>
        <ion-item>
            Country: {{waiverViewModel.witness.country}}
        </ion-item>
        <ion-item>
            Phone: {{waiverViewModel.witness.phone}}
        </ion-item>
        <ion-item>
            Occupation: {{waiverViewModel.witness.occupation}}
        </ion-item>
    </ion-list>
</ion-card>


