waiver-detail {
  .accordion-list {
    background: color($colors, light);
    height: 100%;
  }
  .section {
    background: #c9cd97;
    color: #fff;
    margin-bottom: 4px;
  }
  .section-active {
    background: opacify(#c9cd97, 0.8);
    color: #fff;
  }
  .label {
    margin: 0;
  }
  .list {
    margin-bottom: 4px;
  }

  //Header CSS
  .expired {
    color: red;
  }

  .expired-header {
    text-align: right;
    color: red;
  }

  .valid {
    color: black;
  }

  .valid-header {
    color: black;
    text-align: right;
  }

}